body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #512DA8;
}

.jumbotron{
	background: #9575cd;
	color: #fff;
}
.row-header{

}
.row-content{
	margin: 0px auto;
	padding: 30px 0px 30px 0px;
	border-top: 1px solid rgba(0,0,0,.1) ;
}
.footer{
	background: #d1c4e9;
	padding: 20px 0px;
	margin: 0px auto;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.carousel {
    background:#512DA8;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
#carouselButton {
    right:0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
.modal-header{
	background: #673AB7;
}
.modal-body{
	background: #a2a7c5;
}